# Abstract
=- Data : https://www.kaggle.com/datasets/muhammadshahidazeem/customer-churn-dataset?resource=download

In [88]:
#dependencies

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import math 

print(f"Pands Version: {pd.__version__}")
print(f"Numpy Version: {np.__version__}")
print(f"Seaborn version: {sns.__version__}")


df_1 = pd.read_csv("archive/customer_churn_dataset-testing-master.csv")
df_2 = pd.read_csv("archive/customer_churn_dataset-training-master.csv")


df = pd.concat([df_1, df_2])
df.head()

Pands Version: 2.2.3
Numpy Version: 2.2.5
Seaborn version: 0.13.2

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
0,1.0,22.0,Female,25.0,14.0,4.0,27.0,Basic,Monthly,598.0,9.0,1.0
1,2.0,41.0,Female,28.0,28.0,7.0,13.0,Standard,Monthly,584.0,20.0,0.0
2,3.0,47.0,Male,27.0,10.0,2.0,29.0,Premium,Annual,757.0,21.0,0.0
3,4.0,35.0,Male,9.0,12.0,5.0,17.0,Premium,Quarterly,232.0,18.0,0.0
4,5.0,53.0,Female,58.0,24.0,9.0,2.0,Standard,Annual,533.0,18.0,0.0

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 505207 entries, 0 to 440832
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CustomerID         505206 non-null  float64
 1   Age                505206 non-null  float64
 2   Gender             505206 non-null  object
 3   Tenure             505206 non-null  float64
 4   Usage Frequency    505206 non-null  float64
 5   Support Calls      505206 non-null  float64
 6   Payment Delay      505206 non-null  float64
 7   Subscription Type  505206 non-null  object
 8   Contract Length    505206 non-null  object
 9   Total Spend        505206 non-null  float64
 10  Last Interaction   505206 non-null  float64
 11  Churn              505206 non-null  float64
dtypes: float64(9), object(3)
memory usage: 50.1+ MB

In [90]:
# One NULL Row
df.isnull().sum()
df = df.dropna()

array(['Basic', 'Standard', 'Premium'], dtype=object)

In [92]:
df = df.drop(columns=["CustomerID"])
df = pd.get_dummies(df, columns=["Gender", "Subscription Type", "Contract Length"], drop_first=True).astype(int)

In [99]:
corr = df.corr(method = 'pearson')
abs(corr["Churn"]).sort_values(ascending=False)

Churn                         1.000000
Support Calls                 0.516283
Total Spend                   0.369160
Contract Length_Monthly       0.366495
Payment Delay                 0.329785
Age                           0.191224
Gender_Male                   0.168989
Contract Length_Quarterly     0.156347
Last Interaction              0.127150
Usage Frequency               0.053263
Tenure                        0.021308
Subscription Type_Premium     0.011012
Subscription Type_Standard    0.007928
Name: Churn, dtype: float64

In [95]:
df.columns

Index(['Age', 'Tenure', 'Usage Frequency', 'Support Calls', 'Payment Delay',
       'Total Spend', 'Last Interaction', 'Churn', 'Gender_Male',
       'Subscription Type_Premium', 'Subscription Type_Standard',
       'Contract Length_Monthly', 'Contract Length_Quarterly'],
      dtype='object')